<?php
$this->headTitle('Month');
//echo $this->printrTextarea($this->formData);
?>
<style type="text/css">
    table.month-renderer {
        border-spacing: 0;
        border-collapse: separate;
    }
    table.month-renderer th {
        background-color: rgba(180, 160, 230, 0.5);
        text-align: center;
        font-size: 0.6em;
    }
    table.month-renderer td {
        width: 160px;
        height: 120px;
        border: 1px solid #888;
        vertical-align: text-top;
        padding: 0;
    }
    table.month-renderer th.month-renderer-weekno {
        width: 40px;
    }
    .day-header {
        background-color: rgba(190, 190, 230, 0.5);
        border-bottom: 1px solid #888;
        text-align: center;
        font-size: 0.6em;
    }
    .term-header {
        background-color: rgba(0, 255, 130, 0.7);
        border-bottom: 1px solid #888;
        text-align: left;
        font-size: 0.8em;
    }
    td.month-renderer-day {
        background-color: white;
    }
</style>

<br>
<div class="w3-row">
    <div class="w3-col">
        <?php
        echo $this->month;
        ?>
    </div>
</div>
