<?php 
$this->headTitle('Multi Month');
//echo $this->printrTextarea($this->multiMonthRenderer);
?>
<style type="text/css">
    table.month-renderer {
        border-spacing: 0;
        border-collapse: separate;
    }
    table.month-renderer th {
        background-color: rgba(180, 160, 230, 0.5);
        text-align: center;
        font-size: 0.6em;
    }
    table.month-renderer td {
        width: 140px;
        height: 80px;
        border: 1px solid #888;
        vertical-align: text-top;
        padding: 0;
    }
    table.month-renderer th.month-renderer-weekno {
        width: 40px;
    }
    .day-header {
        background-color: rgba(170, 150, 255, 0.5);
        border-bottom: 1px solid #888;
        text-align: center;
        font-size: 0.6em;
    }
    .term-header {
        background-color: rgba(0, 255, 130, 0.7);
        border-bottom: 1px solid #888;
        text-align: left;
        font-size: 0.8em;
    }
    td.month-renderer-day {
        background-color: white;
    }
    .multi-month {
        margin: 10px 0 0 0;
    }
    th.month-renderer-h {
        text-align: center;
        font-size: 1.1em !important;
    }
</style>

<br>
<div class="w3-row">
    <div class="w3-col">
        <?php
        echo $this->multiMonthRenderer;
        ?>
    </div>
</div>
